@import 'compass/css3';
.clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}

body { 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 100%;
	line-height: 1.4;
	background: whiteSmoke;
}

#content {
	margin: 10px;
}

.add-twitter-spy {
	margin: 10px 0 30px;
	> * {
		display: inline-block;
	}
}

.button {
	@include background(linear-gradient(top, white, #E6E6E6));
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid #BBB;
	border-radius: 4px;
	padding: 4px 12px;
	display: inline-block;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: black;
	text-decoration: none;
}

.twitter-button {
	@extend .button;
	padding-left: 26px;
	@include background(url(../img/twitter-bird.png), linear-gradient(top, white, #E6E6E6));
	background-repeat: no-repeat;
	background-position: 6px 50%, top left;
}

.twitter-logout {
	position: absolute;
	top: 5px;
	right: 5px;
}

$spy: twitter-spytivity;

.#{$spy} {
	background: white;
	min-width: 400px;
	display: inline-block;
	position: relative;
	padding: 10px 26px 10px 10px;
	margin: 10px 10px 10px 0;
	border-radius: 3px;
	border: 1px solid #444;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	&[data-active=true] {
		border-color: #468847;
	}
	&[data-active=false] {
		border-color: #B94A48;
	}
}

.#{$spy}-header {
	@extend .clearfix;
	* {
		line-height: 32px;
		margin: 0;
		padding: 0;
		border: 0;
	}
	.#{$spy}-title {
		float: left;
	}
	.#{$spy}-status-switch {
		float: right;
	}
	margin: 0 0 10px;


	.#{$spy}-status-switch {
		line-height: 1.4;
		@extend .button;
	}
}

.#{$spy}[data-active=false] .#{$spy}-status-switch {
	&:hover, &:focus {
		color: white;
		background-color: #5BB75B;
		@include background(linear-gradient(top, #62C462, #51A351));
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
}

.#{$spy}[data-active=true] .#{$spy}-status-switch {
	&:hover, &:focus {
		color: white;
		background-color: #DA4F49;
		@include background(linear-gradient(top, #EE5F5B, #BD362F));
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
}

.#{$spy}-delete {
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	font-size: 20px;
	line-height: 20px;
	padding: 3px 6px;
	border-radius: 3px;
	margin: 0;
	color: #000;
	opacity: 0.5;
	background: none;
	&:hover, &:focus {
		opacity: 1;
	}
}